<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
    <h1>Basketball Team!</h1><br>
    <h2>Team Name: <%=@name%><br></h2>
    <h2>Coach: <%= @coach %><br></h2>
    <h2>Point Guard: <%=@pg %><br></h2>
    <h2>Power Forward: <%=@pf %><br></h2>
    <h2>Shooting Guard: <%=@sg %><br></h2>
    <h2>Small Forward: <%=@sf %><br></h2>
    <h2>Center: <%=@c %><br></h2>
    
 </body>
</html>


